# directories
.undodir/
node_modules/
lua/temp.lua
.hypothesis/
__pycache__/
**/*/__pycache__/

#files
package-lock.json
.netrwhist
tags
.env

lazy-lock.json
.DS_Store
spell
rust/nvimrs/target

lua/plugins/custom/cursor.nvim
lua/plugins/custom/dagster.nvim
lua/plugins/custom/dbt.nvim
