# directories
.undodir/
node_modules/
lua/temp.lua
.hypothesis/
temp/
lua/external_plugins/languages/

#files
temp.lua
package.json
package-lock.json
vimscript/temp.vim
.netrwhist
tags
.env

lazy-lock.json
